<div class="FirstView">
  <section class="container">
    <h2 class="FirstView__title">
      Stay Reserveで<br>
      まだ体験したことのない<br>
      旅をしよう
    </h2>

    <div class="FirstViewSearch">
      <form action="https://rails-02-sample.herokuapp.com/rooms" accept-charset="UTF-8" method="get">
        <input class="form-control FirstViewSearch__input" placeholder="エリア名を入力" type="text" name="area" id="area" />
        <input type="submit" name="commit" value="検索" class="btn FirstViewSearch__button" data-disable-with="検索" />
</form>    </div>
  </section>
</div>
<div class="container">
  <section class="RecommendAreaSection">
    <h2 class="RecommendAreaSection__title">
      おすすめのエリア
    </h2>
    <div class="RecommendAreas">
      <a class="RecommendArea RecommendArea--tokyo" href="https://rails-02-sample.herokuapp.com/rooms?area=%E6%9D%B1%E4%BA%AC">
        <span class="RecommendArea__name RecommendArea__name--ja">東京</span>

        <span class="RecommendArea__name RecommendArea__name--en">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
          Tokyo
        </span>
</a>
      <a class="RecommendArea RecommendArea--osaka" href="https://rails-02-sample.herokuapp.com/rooms?area=%E5%A4%A7%E9%98%AA">
        <span class="RecommendArea__name RecommendArea__name--ja">大阪</span>

        <span class="RecommendArea__name RecommendArea__name--en">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
          Osaka
        </span>
</a>
      <a class="RecommendArea RecommendArea--kyoto" href="https://rails-02-sample.herokuapp.com/rooms?area=%E4%BA%AC%E9%83%BD">
        <span class="RecommendArea__name RecommendArea__name--ja">京都</span>

        <span class="RecommendArea__name RecommendArea__name--en">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
          Kyoto
        </span>
</a>
      <a class="RecommendArea RecommendArea--sapporo" href="https://rails-02-sample.herokuapp.com/rooms?area=%E6%9C%AD%E5%B9%8C">
        <span class="RecommendArea__name RecommendArea__name--ja">札幌</span>

        <span class="RecommendArea__name RecommendArea__name--en">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
          Sapopro
        </span>
</a>    </div>
  </section>
</div>
