<div class="field is-grouped search_form">
    <%= search_form_for @q, url: search_rooms_path,class: "field is-grouped search_form" do |f| %>
    <p class="control">
    <%= f.search_field :address_cont, value: "", class: "input", placeholder: "エリア名を入力" %>
    </p>
    <p class="control">
    <%= f.search_field :facility_name_or_facility_detail_cont, value: "", class: "input", placeholder: "キーワード名を入力" %>
    </p>
    <p class="control">
    <%= f.submit '検索', class: "button is-link is-outlined" %>
    </p>
    <% end %>
</div>